---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import imageSrc from "../assets/me.jpg";

const title = "About José";
const headline = "About Me";
const content = `Hey, I'm José.

I'm a Software Engineer and Karate athlete from Costa Rica 🇨🇷.

I've been doing mobile and web development for over 7 years. Originally I wanted to be a designer, but I fell in love with programming and never looked back. I'm passionate about creating beautiful, accessible and performant experiences for the web.

Outside of work, I'm currently pursuing my career as a Karate athlete. I'm a member of the Costa Rican National Team and I'm currently the #1 in the national ranking in my category.

In my spare time, I enjoy spending time with my girlfriend, my family and my dogs.

Some of my hobbies include drawing, playing the guitar, reading, and playing video games.`;
---

<Layout title={title}>
  <div class="container grid">
    <div>
      <h1>{headline}</h1>
      <p>{content}</p>
    </div>
    <Image src={imageSrc} alt="A photo of me." />
  </div>
</Layout>

<style is:global>
  :root {
    --primary: hsl(306, 18%, 48%);
    --primary-text: hsl(306, 18%, 88%);
    --secondary: #4b546b;
    --text-1: hsl(222, 45%, 9%);
    --text-2: hsl(222, 45%, 40%);
    --accent: #fb7da8;
    --accent-text: #0c1220;
    --stroke: hsl(222, 45%, 9%);
    --surface: hsl(306, 18%, 78%);
    --surface-2: hsl(306, 18%, 68%);
    --surface-3: hsl(306, 18%, 58%);
    --surface-4: hsl(306, 18%, 48%);
  }
</style>
<style>
  @import "open-props/media";
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    /* width: min(100%, var(--size-xl)); */
  }
  .grid > div:first-child {
    padding: var(--size-fluid-2);
    background-color: var(--surface);
  }
  .grid img {
    border-top: var(--border-size-2) solid var(--stroke);
    width: 100%;
    height: auto;
  }
  .grid h1 {
    margin-bottom: var(--size-fluid-2);
  }
  .grid p {
    margin-block: var(--size-fluid-2);
    white-space: pre-wrap;
    line-height: var(--font-lineheight-4);
  }

  @media (--lg-n-above) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .grid img {
      border-top: none;
      border-left: var(--border-size-2) solid var(--stroke);
      height: 100%;
      width: auto;
      object-fit: cover;
    }
    .grid p {
      /* font-size: var(--font-size-fluid-1); */
      font-size: var(--font-size-3);
    }
    .grid > div:first-child {
      padding: var(--size-fluid-5) var(--size-fluid-2);
    }
  }
  @media (--xxl-n-above) {
    .grid {
      border-left: var(--border-size-2) solid var(--stroke);
      border-right: var(--border-size-2) solid var(--stroke);
    }
  }
</style>
