---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Hello</h1>
  </main>
</Layout>

<style is:global>
  :root {
    --background: #85af97;
    --primary: #39675d;
    --primary-text: #c5d0b2;
    --text-1: #15221b;
    --text-2: #21443e;
    --accent: #f3983c;
    --accent-text: #15221b;
    --stroke: #15221b;
    /* --brand: var(--purple-5);
    --text-1: var(--purple-9);
    --text-2: var(--purple-7);
    --surface-1: var(--purple-0);
    --surface-2: var(--purple-1);
    --surface-3: var(--purple-2);
    --surface-4: var(--purple-3); */
  }
</style>
