---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	<!-- very basic markup to test normalize 	 -->
		<h1>Uses</h1>
		<p>Here are some of the tools and services I use to build websites.</p>
		<ul>
			<li>VSCode</li>
			<li>GitHub</li>
			<li>Netlify</li>
		</ul>
		<button>Contact Me</button>
		<a href="/">Go home</a>
	</main>	
</Layout>

<style>
	main {
		background-color: var(--gray-0);
	}

</style>
