---
import { Icon } from "astro-icon";

const links = [
  {
    href: "/about",
    text: "About Me",
  },
  {
    href: "/projects",
    text: "Projects",
  },
  {
    href: "/uses",
    text: "Uses",
  },
  {
    href: "/assets/resume.pdf",
    text: "Resume",
    target: "_blank",
  },
];
---

<nav class="container" transition:persist>
  <a href="/" class="logo">
    <span>JH.</span>
  </a>
  <button aria-expanded="false" aria-label="Toggle navigation" id="menu-button">
    <Icon pack="fe" name="bar" />
    <Icon pack="fe" name="close" />
  </button>
  <ul class="nav-links">
    <!-- <li>
      <a href="/blog">Blog</a>
      <div class="nav-link-underline"></div>
    </li>
    <li class="active">
      <a href="/blog">Blog</a>
      <div class="nav-link-underline"></div>
    </li>
    <li>
      <a href="/blog">Blog</a>
      <div class="nav-link-underline"></div>
    </li>
    <li>
      <a href="/blog">Blog</a>
      <div class="nav-link-underline"></div>
    </li> -->
    {
      links.map((li) => (
        <li>
          <a href={li.href} target={li.target || "_self"}>
            {li.text}
          </a>
          <div class="nav-link-underline" />
        </li>
      ))
    }
  </ul>
</nav>
<style>
  @import "open-props/media";

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--size-fluid-5);
    padding-left: var(--size-fluid-2);
  }
  .logo {
    margin: 0;
    aspect-ratio: var(--ratio-square);
    border-radius: var(--radius-blob-4);
    /* border-radius: var(--radius-round); */
    background-color: var(--primary);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s var(--ease-out-2);
  }
  .logo span {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-9);
    color: var(--primary-text);
  }
  .logo:hover {
    text-decoration: none;
    transform: scale(1.1) rotate(-10deg);
  }
  button {
    border: none;
    background-color: transparent;
    padding-left: var(--size-fluid-2);
    padding-right: var(--size-fluid-2);
    margin: 0;
    height: 100%;
  }
  button [astro-icon] {
    color: var(--stroke);
    inline-size: var(--size-7);
    block-size: var(--size-7);
  }

  button [astro-icon="fe:close"] {
    display: none;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-2);
    padding: var(--size-fluid-2);
    top: var(--size-fluid-5);
    left: 0;
    right: 0;
    background: var(--surface);
    border-bottom: var(--border-size-2) solid var(--stroke);
    transform: translateY(-200%);
    /* transition: transform 0.3s var(--ease-spring-1); */
  }

  .nav-links li {
    width: 100%;
    display: block;
    font-size: var(--font-size-1);
    padding: 0;
  }
  .nav-links li a {
    color: var(--text-1);
    text-decoration: none;
    display: block;
  }
  .nav-links .active {
    font-weight: var(--font-weight-7);
  }
  #menu-button[aria-expanded="true"] ~ .nav-links {
    transform: translateY(0);
  }
  #menu-button[aria-expanded="true"] [astro-icon="fe:bar"] {
    display: none;
  }
  #menu-button[aria-expanded="true"] [astro-icon="fe:close"] {
    display: block;
  }

  @media (--md-n-above) {
    .logo span {
      font-size: var(--font-size-fluid-1);
    }
    #menu-button {
      display: none;
    }
    .nav-links {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--size-fluid-4);
      padding: 0;
      inset: initial;
      background: transparent;
      border-bottom: none;
      transform: translateY(0);
      height: 100%;
    }
    .nav-links li {
      position: relative;
      width: auto;
    }
    .nav-link-underline {
      width: 0%;
      height: var(--border-size-1);
      background: var(--stroke);
      transition: width 0.3s var(--ease-spring-1);
      position: absolute;
      bottom: 0%;
      left: 0%;
      right: auto;
      top: auto;
    }
    .nav-links li:hover .nav-link-underline {
      width: 100%;
    }
    .nav-links .active .nav-link-underline {
      width: 100%;
    }
    /* select last nav-link li */
    .nav-links li:last-child {
      height: 100%;
      box-sizing: border-box;
    }
    .nav-links li:last-child a {
      background-color: var(--stroke);
      color: var(--surface);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 0;
      padding-left: var(--size-fluid-2);
      padding-right: var(--size-fluid-2);
      box-sizing: border-box;
      border: var(--border-size-2) solid var(--stroke);
      border-bottom: 0;
    }
    .nav-links li:last-child:hover .nav-link-underline {
      width: 0%;
    }
    .nav-links li:last-child a:hover {
      background-color: var(--accent);
      color: var(--accent-text);
    }
  }
</style>

<script>
  const menuButton = document.getElementById("menu-button");
  // const menu = document.querySelector("nav + div");

  menuButton?.addEventListener("click", () => {
    const expanded = menuButton.getAttribute("aria-expanded") === "true";
    menuButton.setAttribute("aria-expanded", String(!expanded));
    // menu.hidden = expanded;
  });
  document.addEventListener("astro:after-swap", () => {
    menuButton?.setAttribute("aria-expanded", "false");
  });
</script>
