---
import "@fontsource/space-mono";
// Supports weights 100-900
import "@fontsource-variable/bitter";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @import "open-props/normalize";
  @import "open-props/media";

  @font-face {
    font-family: "ClashDisplay-Variable";
    src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  :root {
    --shadow: var(--size-1) var(--size-1) 0 0 var(--text-1);
    --shadow-hover: 0px 0px 0 0 var(--text-1);
  }
  html {
    /* font-family: system-ui, sans-serif; */
    font-family: "ClashDisplay-Variable", system-ui, sans-serif;
    background-color: var(--surface-2);
    color: var(--text-1);
    accent-color: var(--accent);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  header {
    border-bottom: var(--border-size-2) solid var(--stroke);
    background-color: var(--surface);
  }

  main {
    /* background-repeat: repeat; */
    background-image: repeating-linear-gradient(
        to right,
        var(--surface-3),
        var(--surface-3) 1px,
        transparent 1px,
        transparent var(--size-7)
      ),
      repeating-linear-gradient(
        to bottom,
        var(--surface-3),
        var(--surface-3) 1px,
        transparent 1px,
        transparent var(--size-7)
      );
  }

  .container {
    width: min(100%, var(--size-xxl));
    margin-inline: auto;
  }
</style>
