---
import { Image } from "astro:assets";
import BaseLayout from "./Layout.astro";

import type { CollectionEntry } from "astro:content";
interface Props {
  frontmatter: CollectionEntry<"blog">["data"];
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} theme={frontmatter.theme || "gamboge"}>
  <div class="cover">
    <Image
      transition:name="hero"
      src={frontmatter.cover}
      alt={frontmatter.coverAlt}
    />
  </div>
  <div class="content">
    <slot />
  </div>
</BaseLayout>

<style is:global>
  @import "open-props/media";

  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover img {
    max-width: min(100%, var(--size-lg));
    border: var(--border-size-2) solid var(--stroke);
    border-top: none;
  }

  .content {
    width: min(100%, var(--size-lg));
    margin-inline: auto;
    background-color: var(--surface);
    padding: var(--size-fluid-2);
  }

  @media (--lg-n-above) {
    .content {
      border-left: var(--border-size-2) solid var(--stroke);
      border-right: var(--border-size-2) solid var(--stroke);
      padding: var(--size-fluid-2) var(--size-fluid-4);
    }
  }

  .content h1 {
    margin-top: 0;
    margin-bottom: var(--size-fluid-2);
  }
  .content h2 {
    margin-top: var(--size-fluid-4);
    margin-bottom: var(--size-fluid-1);
  }
  .content h3 {
    margin-top: var(--size-fluid-2);
    margin-bottom: var(--size-fluid-1);
  }
  .content p {
    margin-block: var(--size-fluid-2);
  }
  .content ul {
    margin-block: var(--size-fluid-2);
  }
  .content li {
    margin-block: var(--size-fluid-2);
  }

  .content a {
    color: var(--accent-text);
    font-weight: var(--font-weight-5);
  }

  .content a:hover {
    color: var(--accent);
  }
</style>
